* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344e41;

    .formContainer {
        width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 3px 10px #333;
        border-radius: 20px;
        padding: 20px;
        background-color: #3a5a40;
        color: #fff;

        .inputContainer {
            width: 100%;
            display: flex;
            flex-direction: column;

            input {
                width: 90%;
                height: 40px;
                margin: 10px;
                border: 2px solid #fff;
                border-radius: 5px;
                outline: none;
                padding-left: 15px;
                font-size: 16px;
                background-color: #3a5a40;
                color: #fff;
            }

            .loginPlaceholder {
                position: absolute;
                background-color: #3a5a40;
                margin-top: 20px;
                margin-left: 30px;
                transition: 0.3s;
            }

            .emailPlaceholder {
                position: absolute;
                background-color: #3a5a40;
                margin-top: 80px;
                margin-left: 30px;
                transition: 0.3s;
            }

            .passwordPlaceholder {
                position: absolute;
                background-color: #3a5a40;
                margin-top: 140px;
                margin-left: 30px;
                transition: 0.3s;
            }

            .viewPassword {
                position: absolute;
                margin-top: 142px;
                margin-left: 300px;
                cursor: pointer;
            }
        }

        .checkContainer {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            li {
                margin: 5px;
                font-size: 17px;
            }
        }

        .btnContainer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;

            #continue {
                padding: 8px 32px;
                border-radius: 5px;
                border: none;
                background-color: #588157;
                color: #fff;
                cursor: pointer;
            }

            #settingsBtn {
                cursor: pointer;
                padding: 8px 10px;
            }

            .settingsContainer {
                border-radius: 5px;
                border: none;
                background-color: #588157;
                color: #fff;

                .settingsHeader {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    i {
                        cursor: pointer;
                    }
                }

                .toggleBtn {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    border-radius: 10px;

                    .chosenBox {
                        width: 100px;
                        height: 40px;
                        border-radius: 10px;
                        background-color: #588157;
                        position: absolute;
                        transition: 0.5s;
                    }

                    .regular {
                        width: 100px;
                        height: 40px;
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    .withoutRegular {
                        width: 120px;
                        height: 40px;
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}